<section class="section bg-light">
  <div class="container bring-to-front">
    <div class="row gap-y align-items-center">
      <div class="col-md-6">
        <div class="rounded bg-primary-gradient shadow">
          <div class="d-flex flex-column align-items-center py-3">
            <img
              src="assets/img/bg/asset-1.svg"
              class="img-responsive w-50"
              alt=""
            />
          </div>
        </div>

        <div class="rounded shadow-box bg-contrast mt-3">
          <div class="media align-items-center px-3">
            <dc-feather
              [name]="'smartphone'"
              [iconClass]="'stroke-primary'"
              [class]="'mr-3'"
            ></dc-feather>
            <div class="media-body my-3 pl-3 b-l">
              <p class="bold text-primary my-0">
                Verificación del estado de medicamentos.
              </p>
              <p class="my-0 text-secondary">
                Verifica el estado de tu medicamento y toma medidas de acuerdo a esta validación.
              </p>
            </div>
          </div>
        </div>

        <div class="rounded shadow-box bg-contrast mt-3">
          <div class="media align-items-center px-3">
            <dc-feather
              [name]="'clock'"
              [iconClass]="'stroke-primary'"
              [class]="'mr-3'"
            ></dc-feather>
            <div class="media-body my-3 pl-3 b-l">
              <p class="bold text-primary my-0">Gestion de agenda</p>
              <p class="my-0 text-secondary">
                Administra tu agenda de la manera como tú quieras y agrega tus recordatorios.
              </p>
            </div>
          </div>
        </div>


      </div>

      <div class="col-md-6 ml-md-auto text-center">
        <h2 class="mt-3">Expiry App</h2>
        <p class="text-justify">
          Gracias a esta aplicación podras verificar el estado de los medicamentos que compraste sin saber
          si todavía se encuentran en un estado optimo. También te ayuda a mantener los medicamentos en 
          condiciones optimas para preservar su consumo y garantizar el ahorro de nuestros usuarios.
        </p>
      </div>
    </div>
  </div>
</section>
