<!-- ./App Landing - page header -->
<header class="section header text-contrast app-landing-header">
  <div class="shape-wrapper">
    <div
      class="shape shape-background shape-main gradient gradient-purple-navy"
    ></div>
    <div
      class="shape shape-background shape-top gradient gradient-navy-purple"
    ></div>
  </div>
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-md-6">
        <h1 class="bold text-contrast display-lg-2 font-lg mt-5">Expiry App</h1>
        <p class="lead">Una herramienta poderosa que integra diferentes funcionalidades: </p>
        <p class="text-contrast" style="font-size: 25px;">
          <ngx-typed-js
            [strings]="['Estado de Medicamentos', 'Detalles de Medicamentos', 'Recordatorios', 'Contactos']"
            [typeSpeed]="150"
            [backDelay]="500"
            [backSpeed]="50"
            [loop]="true"
          >
            "&nbsp;<span class="typing typed"  style="font-size: 25px;"></span>&nbsp;"
          </ngx-typed-js>
        </p>

        <nav class="nav mt-5">
          <a
            href="#"
            class="nav-link btn btn btn-rounded btn-contrast btn-lg px-5 bold"
          >
            INTENTALO TU MISMO
          </a>
        </nav>
      </div>
      <div class="col-md-6 col-lg-5 ml-lg-auto mg-t">
        <div data-aos="fade-left">
          <div class="mobile-device iphone-x">
            <div class="screen">
              <img
                src="assets/img/screens/app/7.png"
                class="img-responsive"
                alt=""
              />
            </div>
            <div class="notch"></div>
          </div>

          <div class="absolute screen-highlight center-x w-100">
            <img
              src="assets/img/screens/app/2-highlight.png"
              alt=""
              class="mx-auto shadow-lg rounded img-responsive"
              data-aos-delay="1000"
              data-aos="zoom-in"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
