@media (max-width: 800px) {
    .container {
        margin-top: 70px;
    }

    .mg-t {
        margin-top: 70px;
    }
}

@media (max-width: 576px) {
    .container {
        margin-top: 70px;
    }

    .mg-t {
        margin-top: 70px;
    }
}