<form
  class="form form-contact"
  name="form-contact"
  data-response-message-animation="slide-in-up"
>
  <div class="form-group">
    <label for="contact_email" class="bold mb-0">Email address</label>
    <small id="emailHelp" class="form-text text-secondary mt-0 mb-2 italic"
      >We'll never share your email with anyone else.</small
    >
    <input
      type="email"
      name="email"
      id="contact_email"
      class="form-control bg-contrast"
      placeholder="Valid Email"
      required
    />
  </div>

  <div class="form-group">
    <label for="contact_email" class="bold">Subject</label>
    <input
      type="text"
      name="subject"
      id="contact_subject"
      class="form-control bg-contrast"
      placeholder="Subject"
      required
    />
  </div>

  <div class="form-group">
    <label for="contact_email" class="bold">Message</label>
    <textarea
      name="message"
      id="contact_message"
      class="form-control bg-contrast"
      placeholder="What do you want to let us know?"
      rows="8"
      required
    ></textarea>
  </div>

  <div class="form-group">
    <button
      id="contact-submit"
      name="submit"
      type="submit"
      class="btn btn-primary btn-rounded"
    >
      Send Message
    </button>
  </div>
</form>

<div class="response-message">
  <div class="section-heading">
    <i class="fas fa-check font-lg"></i>
    <p class="font-md m-0">Thank you!</p>
    <p class="response">
      Your message has been send, we will contact you as soon as possible.
    </p>
  </div>
</div>
