<section class="section app-download" style="margin-top: -40px;">
  <div class="container bring-to-front">
    <div class="shadow-lg bg-contrast p-5 rounded">
      <div class="section-heading text-center">
        <p class="text-primary regular">Empieza hoy</p>
        <h2>PRUEBALO ES GRATIS</h2>
        <p class="text-secondary">
          Proximamente aplicativo en tiendas oficiales.
        </p>
      </div>

      <nav
        class="nav flex-column flex-md-row justify-content-center align-items-center mt-5"
      >
        <a
          href="#"
          class="nav-link py-3 px-4 btn btn-rounded btn-download btn-dark text-contrast mr-0 mr-md-4 mb-4 mb-md-0"
        >
          <img src="assets/img/svg/apple.svg" class="icon icon-md" alt="..." />
          <p class="ml-2">
            <span class="small bold">Consiguelo en</span>
            <span class="d-block bold text-contrast">App Store</span>
          </p>
        </a>

        <a
          href="#"
          class="nav-link py-3 px-4 btn btn-rounded btn-download btn-light text-darker"
        >
          <img
            src="assets/img/svg/google-play.svg"
            class="icon icon-md"
            alt="..."
          />
          <p class="ml-2">
            <span class="small bold">Descargalo en</span>
            <span class="d-block bold text-darker">Google Play Store</span>
          </p>
        </a>
      </nav>
    </div>
  </div>
</section>
