<!-- ./Tons of benefits -->
<section class="section overflow-hidden">
  <div class="container bring-to-front">
    <div class="row gap-y align-items-center">
      <div class="col-md-6 col-lg-5 mr-lg-auto">
        <div class="center-xy op-1">
          <div
            class="shape shape-background rounded-circle shadow-lg bg-info"
            style="width: 600px; height: 600px;"
            data-aos="zoom-in"
          ></div>
        </div>

        <div class="device-twin align-items-center">
          <div class="mockup absolute" data-aos="fade-left">
            <div class="screen">
              <img src="assets/img/screens/app/7.png" alt="..." />
            </div>
            <span class="button"></span>
          </div>

          <div class="iphone-x front mr-0">
            <div class="screen shadow-box">
              <img src="assets/img/screens/app/8.png" alt="..." />
            </div>
            <div class="notch"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-center text-md-left">
        <div class="section-heading">
          <i class="far fa-check-circle fa-2x text-danger mb-3"></i>
          <h2 class="bold font-md">Te ofrecemos un monton de beneficios</h2>
        </div>

        <div class="row gap-y">
          <div class="col-md-6" *ngFor="let box of boxes">
            <div
              class="media flex-column flex-lg-row align-items-center align-items-md-start"
            >
              <dc-feather
                [name]="box.icon"
                class="mx-auto ml-md-0 mr-md-3"
                [iconClass]="'stroke-primary'"
              ></dc-feather>
              <div class="media-body mt-3 mt-md-0">
                <h5 class="bold mt-0 mb-1">{{ box.title }}</h5>
                <p class="m-0 d-md-none d-lg-block">
                  {{box.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
